asttokens==2.4.1+computecanada
cmake==3.27.7+dummy.computecanada
comm==0.2.2+computecanada
contourpy==1.2.1+computecanada
cycler==0.12.1+computecanada
debugpy==1.8.1+computecanada
decorator==5.1.1+computecanada
executing==2.0.1+computecanada
filelock==3.13.1+computecanada
fonttools==4.53.0+computecanada
fsspec==2024.6.1+computecanada
ipykernel==6.29.4+computecanada
ipython==8.25.0+computecanada
jedi==0.19.1+computecanada
jinja2==3.1.4+computecanada
jupyter_client==8.6.2+computecanada
jupyter_core==5.7.2+computecanada
kiwisolver==1.4.5+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.9.0+computecanada
matplotlib_inline==0.1.7+computecanada
mpmath==1.3.0+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.3+computecanada
ninja==1.11.1+computecanada
nose==1.3.7+computecanada
numpy==1.26.4+computecanada
packaging==24.1+computecanada
pandas==2.2.1+computecanada
parso==0.8.4+computecanada
pexpect==4.9.0+computecanada
pillow==10.3.0+computecanada
Pillow_SIMD==9.0.0.post1+computecanada
platformdirs==3.9.1+computecanada
prompt_toolkit==3.0.47+computecanada
psutil==5.9.8
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pygments==2.18.0+computecanada
pyparsing==3.1.2+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
pyzmq==26.0.3+computecanada
scipy==1.13.1+computecanada
six==1.16.0+computecanada
stack_data==0.6.3+computecanada
sympy==1.12.1+computecanada
torch==2.3.1+computecanada
torchvision==0.18.1+torch23.computecanada
tornado==6.3.3+computecanada
tqdm==4.66.5+computecanada
traitlets==5.14.3+computecanada
triton==2.3.0+computecanada
typing_extensions==4.12.2+computecanada
tzdata==2024.1+computecanada
wcwidth==0.2.13+computecanada
